

// esquema de color
$Black: #000000;
$SilverChalice: #AEACAF;
$nickel: #726F73;
$Raisingblack: #221D23;
$white: #ffffff;
$gray: #BABABA;
$Platinum: #E8E8E8;
$lavendergray: #C7C8CC;
$spanishgray: #8F9199;
$onyx: #333745;
$ballblue: #2AB7CA;
$middleblue: #77D1DD;
$bluelagoon: #B1E4EB;
$darksalomon: #EE9480;
$Melon: #F4BAAE;
$palepink: #FADFDA;



// tipografia
$Raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;



// tamaños de fuentes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

$num-column: 12;

// Brakepoints
$small: 576px;
$medium: 770px;
$large: 992px;
$xlarge: 1200px;


